.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#normal-c {
    color: #525253;
}


.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.descr {
    text-align: center;
    color: #aa0a04;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.instructions {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    padding-top: 100px;
}

.welcome img {
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
}

.welcome h1 {
    font-size: 8rem;
    font-family: 'Bebas Neue', sans-serif;
}

.answer-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: solid;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.3)
}

.answer-txt {
    width: 25rem;
    max-width: 25rem;
}

.button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
}

.advanced-settings {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.lower-settings {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.slider-input {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.slider-label {
    width: 200px;
    max-width: 200px;
    display: inline-block;
}

.slider {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #6d6d6d;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: #aa0a04;
    cursor: pointer;
    border-radius: 4px;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 25px;
    background: #aa0a04;
    cursor: pointer;
    border-radius: 4px;
}

.price {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
}

.iap {
    padding-right: 3rem;
}

.iap-check {
    padding-right: 1rem;
}




.icon {
    padding-right: 15px;
    vertical-align: middle;
    border-radius: 5px;
}

.answer-button-display {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: solid;
    padding: 10px 15px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    transition-duration: 0.4s;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
    background-color: transparent;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Bebas Neue', sans-serif;
    transition-duration: 0.2s;
    font-size: x-large;
}

.episode-title:hover {
    color: #aa0a04;
    text-decoration: underline;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.episode-rating {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-weight: bold;
}

a.entry {
    color: initial;
    text-decoration: initial;
}

.instructions {
    width: 70%
}

/* relevant-SLIDER STYLING from w3schools */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.relevant-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5e7e7;
    -webkit-transition: .4s;
    transition: .4s;
}

.relevant-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.relevant-slider {
    background-color: #d60606;
}

input:focus+.relevant-slider {
    box-shadow: 0 0 1px #972d03;
}

input:checked+.relevant-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded relevant-sliders */
.relevant-slider.round {
    border-radius: 34px;
}

.relevant-slider.round:before {
    border-radius: 50%;
}

/* end relevant-SLIDER STYLING */

.relevant-options {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    vertical-align: middle;
}

.relevant-options-IAP {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    align-items: center;
    display: inline-block;
    padding-top: 10px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #c40202;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #ee8989;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #f52c2c;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */