<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="welcome">
            <img src="{{ url_for('static', filename='images/play.png') }}" />
            <h1 id="normal-c">Appiphany</h1>
        </div>
        <div class="top-text">
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Describe an app you want" id="filter-text-val" onkeyup="filterText()">
            </div>
            <div class="input-box" onclick="sendFocusApp()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="List apps that are similar" id="temp" onkeyup="displayResults()">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function displayResults() {
            let tempDiv = document.createElement("div")
            tempDiv.innerHTML = answerTemplate("Venmo", "Pay money!", "4.3")
            document.getElementById("answer-box").appendChild(tempDiv)
        }

        function answerTemplate(title, titleDesc, rating) {
            return `<div class='answer-wrapper'>
                <div class=''>
                    <h3 class='episode-title'>${title}</h3>
                    <p class='episode-desc'>${titleDesc}</p>
                    <p class='episode-rating'>Star Rating: ${rating}</p>
                </div>
                <div class='answer-button-display'>
                    <button class='answer-info-button'>Info</button>
                    <button class='answer-remove-button'>Remove</button>
                </div>
            </div>`
        }

        function answerBoxTemplate(title, titleDesc, rating) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
                <p class='episode-rating'>IMDB Rating: ${rating}</p>
            </div>`
        }

        function sendFocusApp() {
            document.getElementById('temp').focus()
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    // tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.imdb_rating)
                    tempDiv.innerHTML = answerTemplate(row.title, row.summary, row.scoreText)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

    </script>
</body>